[user]
	name = jabelic
	email = hibiki990523@gmail.com
[push]
	default = matching
[alias]
	co = checkout
[include]
	path = ~/.gitconfig_shared
[color]
  # colorの設定(以下のコマンドは自動で色つける)
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  s   = status
  